venv/
*.db
*.pyc
*.swp
Data/
Database/localDatabasePath.txt
Database/networkDatabasePath.txt
GUIS/straw/PrepGUI/dailytotal.txt
GUIS/straw/PrepGUI/date.txt
GUIS/straw/Resistance/calib.csv
Scripts/*.csv
Scripts/*.txt
Scripts/*.pdf
Scripts/*.png
