venv/
*.db
*.pyc
*.swp
*.png
data/
resources/networkDatabasePath.txt
resources/dbvDatabasePath.txt
resources/rootDirectory.txt
resources/rootDirectoryLocation.txt
resources/straw_leak_ino_ports.txt
guis/straw/Prep GUI/dailytotal.txt
guis/straw/Prep GUI/date.txt
logfiles/
*.patch
cache.*
*.autosave
**.ipynb_checkpoints*
tests/*.csv
**.DS_STORE*
*.ipynb
