venv/
*.db
*.pyc
*.swp
*.png
data/
resources/networkDatabasePath.txt
resources/dbvDatabasePath.txt
resources/rootDirectory.txt
resources/rootDirectoryLocation.txt
guis/straw/Prep GUI/dailytotal.txt
guis/straw/Prep GUI/date.txt
logfiles/
*.patch
cache.*
